# tester.py
# general_tester.py
# general_function_tester.py
# training_yield.py
# manage.sh
# landscape.jpg
# animal.jpg
# expected_*.jpg
# Notes.txt
# life_expectancy_years.csv
# population_total.csv
# income_per_person_gdppercapita_ppp_inflation_adjusted.csv

__pycache__/
env/
dist
build
*.egg-info